substitutions:
  ap_prefix: !secret wifi_ap_ssid_prefix
  device_name: "sunshine-fan-esp32"
  device_friendlyname: "Sunshine Fan ESP32"

esphome:
  name: "${device_name}"
  friendly_name: "${device_friendlyname}"
  min_version: 2024.11.0
  name_add_mac_suffix: false

external_components:
  - source: components

esp32:
  variant: esp32
  framework:
    type: esp-idf

# Enable logging
logger:

# Enable Home Assistant API
api:

# Allow Over-The-Air updates
ota:
- platform: esphome

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  ap:
    ssid: "${ap_prefix}.${device_name}"
    password: !secret wifi_ap_password

captive_portal:

remote_receiver:
  pin:
    number: GPIO23
    inverted: True
    mode: OUTPUT_OPEN_DRAIN
    allow_other_uses: True
  tolerance: 55%
  id: ir_receiver
  buffer_size: 2kb
  # dump: all
  idle: 9.5ms
  
remote_transmitter:
  carrier_duty_percent: 50%
  pin:
    number: GPIO23
    inverted: True
    mode: OUTPUT_OPEN_DRAIN
    allow_other_uses: True

fan:
  - platform: f430w
    id: my_fan
    name: "Fan Controller"
    receiver_id: ir_receiver
